/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #777;
  line-height: 1.5;
}

p {
  line-height: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-weight: 700;
}

h3 {
  font-size: 36px;
}

h3 {
  font-size: 22px;
}

.section-padding {
  padding: 120px 0;
}

.full-width {
  width: 100%;
}

.primary {
  color: #e84118;
}

header {
  background-color: #333;
}

button:focus {
  outline: none;
}

.navbar {
  padding: 25px 0;
}
.navbar-brand,
.navbar-brand:hover,
.nav-link, 
.nav-link:hover {
  color: #fff;
}

.navbar-brand {
  font-size: 22px;
  font-weight: 700;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link {
  position:relative;
  margin: 0 1em;
  display: inline-block;
}

.nav-link:last-child {
  margin-right: 0;
}

.nav-link::after {
  position: absolute;
  left: 0;
  bottom: -5px;
  background-color: #fff;
  width: 0%;
  height: 2px;
  content: '';
  transition: all 0.3s ease;
  display: inline-block;
}

.nav-item.active .nav-link::after,
.nav-link:hover::after {
  width: 100%;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
